/* base.css */
/* Theme Overrides */
.md-logo {
  display: none !important;
}

blockquote {
  border-left: 2px solid var(--md-primary-fg-color) !important;
}

/* Table Overrides */
table,
tbody,
tr,
td,
th {
  overflow: visible !important;
  contain: none !important; /* Prevents CSS containment */
}

.table-container,
.table-wrapper,
div:has(table) {
  overflow: visible !important;
  contain: none !important;
}

/* Attribute Colors */
.endurance {
  color: seagreen !important;
}

.strength {
  color: crimson !important;
}

.technique {
  color: royalblue !important;
}

/* Soul Traits */
.ambivalence {
  color: #ff0000 !important;
}

.bravery {
  color: #f9a709 !important;
}

.fervour {
  color: #ec4715 !important;
}

.integrity {
  color: #003eff !important;
}

.justice {
  color: yellow !important; /* To be replaced with actual colour code. */
}

.kindness {
  color: forestgreen !important; /* To be replaced with actual colour code. */
}

.mischief {
  color: #5057b8 !important;
}

.patience {
  color: aqua !important; /* To be replaced with actual colour code. */
}

.perseverance {
  color: magenta !important; /* To be replaced with actual colour code. */
}

.reverence {
  color: #46c265 !important;
}
