:root {
  --soul-bravery-color: #f9a709;
}

:root * > {
  --md-primary-fg-color: #1976d2;
  --md-primary-fg-color--light: #42a5f5;
  --md-primary-fg-color--dark: #1565c0;
  --md-accent-fg-color: #1976d2;
  --md-accent-fg-color--transparent: rgba(25, 118, 210, 0.1);
  --md-typeset-a-color: #1565c0;
}

[data-md-color-scheme="slate"] {
  --md-hue: 250;
}

.md-logo {
  display: none !important;
}

blockquote {
  border-left: 2px solid var(--md-primary-fg-color) !important;
}

.infobox figcaption {
  margin-bottom: 0;
}

.md-typeset table th {
  text-align: center !important;
}

td,
th {
  vertical-align: middle !important;
}
